.banner {
  background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg")
    center center;
  height: 50vh;
  position: relative;
  margin-top: 36px;
}

.banner-info {
  background-color: black;
  color: white;
  padding-top: 12vh;
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
}

.banner-info > Button {
  color: white;
  background-color: blueviolet;
  margin-top: 20px;
  text-transform: inherit;
  font-weight: 600;
}

.banner-info > h5 {
  margin-top: 10px;
}

.banner-info > Button:hover {
  color: blueviolet;
  background-color: white;
}

.search_date-button {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: blueviolet !important;
}

.search_date {
  display: flex;
  flex-direction: column;
}
